name: Build

on:
  pull_request:
    branches:
      - main
      - fulltext
  push:
    branches:
      - main
      - fulltext
  workflow_dispatch:

concurrency:
  group: build-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: docker build -t presubmit-image -f .devcontainer/Dockerfile .

    - name: Build Project (Release)
      run: |
        docker run --rm \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-release
        path: |
          .build-release/
          !.build-release/CMakeFiles
          !.build-release/**/*.o
        retention-days: 1

  build-asan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: docker build -t presubmit-image -f .devcontainer/Dockerfile .

    - name: Build Project (ASAN)
      run: |
        docker run --rm \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh --asan

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-asan
        path: |
          .build-release-asan/
          !.build-release-asan/CMakeFiles
          !.build-release-asan/**/*.o
        retention-days: 1

  build-tsan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: docker build -t presubmit-image -f .devcontainer/Dockerfile .

    - name: Build Project (TSAN)
      run: |
        docker run --rm \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh --tsan

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-tsan
        path: |
          .build-release-tsan/
          !.build-release-tsan/CMakeFiles
          !.build-release-tsan/**/*.o
        retention-days: 1
