name: Tests (ASAN)

on:
  pull_request:
    branches:
      - main
      - fulltext
  push:
    branches:
      - main
      - fulltext
  workflow_dispatch:

concurrency:
  group: tests-asan-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: docker build -t presubmit-image -f .devcontainer/Dockerfile .

    - name: Build and Run Unit Tests (ASAN)
      id: unit-test-run
      continue-on-error: true
      run: |
        mkdir test-results
        docker run --privileged --rm \
          --mount type=bind,source="$(pwd)/test-results",target=/workspace/test-results \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh --asan --run-tests --unittest-output=/workspace/test-results

    - name: Update Test Results Permissions
      if: always()
      run: sudo chmod -R 755 test-results

    - name: Upload Unit Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: unittest-asan-results
        path: test-results

    - name: Run Integration Tests (ASAN)
      id: integration-test-run
      timeout-minutes: 140
      continue-on-error: true
      run: |
        mkdir integration-results
        docker run --privileged --rm \
          --mount type=bind,source="$(pwd)/integration-results",target=/workspace/integration-results \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh --no-build --asan --run-integration-tests --integration-output=/workspace/integration-results

    - name: Update Integration Results Permissions
      if: always()
      run: sudo chmod -R 755 integration-results

    - name: Upload Integration Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: integration-test-asan-results
        path: integration-results

    - name: Check Test Results
      if: steps.unit-test-run.outcome == 'failure' || steps.integration-test-run.outcome == 'failure'
      run: exit 1
