name: unittests

on:
  pull_request: # This triggers the workflow for pull requests
    branches:
      - main    # Run tests for pull requests targeting the "main" branch
      - fulltext
  push:
    branches:
      - main    # Optional: Run tests for direct pushes to "main"
      - fulltext
  workflow_dispatch: # allow manual triggering

concurrency:
  group: unittests-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  cmake-tests:
    runs-on: ubuntu-latest

    steps:
    # Checkout the code from the repository
    - name: Checkout Code
      uses: actions/checkout@v3

    # Set up Docker to build and run the container
    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    # Build the Docker image from the Dockerfile in your repo
    - name: Build Docker Image
      run: docker build -t presubmit-image -f .devcontainer/Dockerfile .

    - name: Download Build Artifacts
      uses: dawidd6/action-download-artifact@v3
      continue-on-error: true
      with:
        workflow: build.yml
        name: build-release
        path: .
        search_artifacts: true

    - name: Run Tests
      id: test-run
      continue-on-error: true
      run: |
        mkdir test-results
        # Check if build artifacts exist, if so skip rebuild
        NO_BUILD_FLAG=""
        if [ -d ".build-release" ]; then
          NO_BUILD_FLAG="--no-build"
        fi
        docker run --privileged --rm \
          --mount type=bind,source="$(pwd)/test-results",target=/workspace/test-results \
          -v "$(pwd):/workspace" \
          --user "ubuntu:ubuntu" \
          presubmit-image \
          sudo ci/build_ubuntu.sh ${NO_BUILD_FLAG} --run-tests --unittest-output=/workspace/test-results

    - name: Update Test Results Permissions
      if: always()
      run: sudo chmod -R 755 test-results

     # Upload test results as artifacts
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: unittest-results
        path: test-results

    # Fail the job if tests failed
    - name: Check Test Results
      if: steps.test-run.outcome == 'failure'
      run: exit 1
